[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rakeshRB
[access "refs/for/refs/*"]
	read = group user/rakeshRB
	push = group user/rakeshRB
	label-Code-Review = -2..+2 group user/rakeshRB
	label-Verified = -1..+1 group user/rakeshRB
	rebase = group user/rakeshRB
	removeReviewer = group user/rakeshRB
	submit = group user/rakeshRB
[access "refs/heads/*"]
	read = group user/rakeshRB
	create = group user/rakeshRB
	push = +force group user/rakeshRB
	pushMerge = group user/rakeshRB
[access "refs/tags/*"]
	push = +force group user/rakeshRB
	pushTag = group user/rakeshRB
	pushSignedTag = group user/rakeshRB
